ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    li {
    float: left;
    border-right: 1px solid #bbb;
    }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    }
h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 35px;
    }
p.Math { border-style: solid;
    border-color: black black black black black;
    width: 500px;
    text-align:left;
    }
p.English { border-style: solid;
    border-color: black black black black black;
    width: 500px;
    text-align:left;
    }
p.History { border-style: solid;
    border-color: black black black black black;
    width: 500px;
    text-align:left;
    }
h3 {font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 35px;
    }   
h4 {font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 35px;
    }